* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: "Roboto", sans-serif;
 
}

body{
    background-color: #7f8c8d;
}


.form1 , .form2 , .form3{
    margin: 100px auto;
    width: 700px;
    background-color: #2c3e50;
    color: white;
    border-radius: 10px;
    position: relative;
}

.form1.sending{
    opacity: 0.5;
}


form{
    display: flex;
    flex-direction: column;
}

input ,  label {
    margin: 10px;
}

input{
    border-radius: 5px;
    outline: none;
    padding: 5px;
}

input:focus{
    background-color:#bdc3c7 
}
 
[type=submit]{
    color: white;
    background-color: #8e44ad;
    width: 100px;
    display: block;
    align-self: center;
    cursor: pointer;
}



.precode{
     margin-left: 100px auto !important;
     display: block !important;
     
     width: 700px;
 }

 .separation{
     width: 900px;
     border:.1px solid white;
     margin: 2rem auto;
 }

 [disabled]{
     opacity: 0.5;
 }

 .coment{
     width: 700px;
     margin: auto;
     color: #f2f2f2;
     font-size: 1.3rem;
 }

 select {
     background-color: #2c3e50;
     color: white;
     padding: 1rem;
     /* font-size: 1rem; */
 }
 
 .container{
     display: flex;
     width: 100px;
     justify-content: space-between;
 }

 #country{
     width: 30px;
      display: inline;
 }
 
 [for='paises']{
    
     padding: 1rem;
      width: 100px;
 }